.footer {
  background: #111;
  color: white;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 45px;
  width: auto;
  display: block;
}
